<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
</head>
<body>
<h1>SUCCESS</h1>
<h3 class="product-title">{{data.title}}</h3>
                        <p class="product-description">{{data.description}}</p>
                        <h4 class="price">current price: <span>{{data.price}}</span></h4>
                        <br>
                        <p>
                            <h3>Extra Details::</h3>
                            {{data.other_details}}
</body>
</html>